<footer class="footer is-primary">
    <div class="content has-text-centered">
        <p>
            © {{ "now" | date("Y") }} Association Choletaise de Patinage sur Glace
        </p>
    </div>
</footer>